@font-face {
  font-family: natural;
  src: url('./assets/natural.otf');
}

h4, div {
  font-family: 'natural', Times, serif;;
}

body {
  left: 0;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("./assets/giftly.png");
  background-repeat: repeat;
}

.game {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 14vh;
  font-family: 'natural', Times, serif;;
}

.name-input {
  margin-right: 15px;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  margin: 2px;
  font-size: 8vh;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  font-family: 'natural', Times, serif;;
}

.underSquare {
  background-color: '#FFFDE7';  
}

.board-row {
  padding-right: 0px;
  padding-left: 0px;
}

.board {
  font-size: 0;
  margin-top: 5vh;
}

.game {
  margin-top: 2vh;
}

.score {
  font-size: 10vh;
  text-align: center;
  font-family: 'natural', Times, serif;;
}

.simpleButton {
  font-family: 'natural', Times, serif;;
  font-size: 4vh;
  white-space: normal;
  margin-bottom: 5px;
}

.flexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.top {
  height: 5vh;
}

#myModal {
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #ecf0f1
}

.modalText {
  font-size: 5vh;
  text-align: center;
}

.modalBtns {
  display: inline-block;
  width: 30%;
  font-size: 4vh;
  margin: 5px !important;
}

.modal-footer {
  text-align: center;
}

.scoreboard-title {
  font-size: 10vh;
}

.score {
  font-size: 4vh;
}

@media screen and (max-width: 997px) {
  .title {
    text-align: center;
    font-size: 12vh;
    font-family: 'natural', Times, serif;;
  }
  .score {
    font-size: 8vh;
  }
  .square {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 4vh;
  }
  .game {
    margin-top: 0vh;
  }
  .board {
    margin-top: 35px;
  }
  .modalBtns {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .board {
    margin-top: 0px;
  }
  .title {
    font-size: 6vh
  }
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    font-size: 6vh;
    font-family: 'natural', Times, serif;;
  }
  .square {
    width: 20vw;
    height: 20vw;
    line-height: 75px;
    font-size: 5vh;
  }
  .modalText {
    font-size: 3vh;
    text-align: center;
  }
}

@media screen and (max-width: 366px) {
  .title {
    text-align: center;
    font-size: 7vh;
    font-family: 'natural', Times, serif;;
  }
  .score {
    font-size: 7vh;
  }
  .square {
    width: 18vw;
    height: 18vw;
    line-height: 18vh;
    font-size: 4vh;
  }
  .modalText {
    font-size: 3vh;
    text-align: center;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 4vh; 
}

tr:nth-child(even) {
  background-color: rgb(221, 221, 221, .5);
}
