@font-face {
  font-family: heartbeat;
  src: url('./assets/heartbeat.ttf');
}

body {
  left: 0;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url("./assets/giftly.png");
  background-repeat: repeat;
}

.game {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 12vh;
  font-family: 'heartbeat', Times, serif;
}

.square {
  width: 100px;
  height: 100px;
  margin: 2px;
  font-size: 9vh;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  font-family: 'heartbeat', Times, serif;
}

.board-row {
  padding-right: 0px;
  padding-left: 0px;
}

.board {
  font-size: 0;
}

.score {
  font-size: 10vh;
  text-align: center;
  font-family: 'heartbeat', Times, serif;
}

.stepback {
  font-family: 'heartbeat', Times, serif;
  font-size: 5vh;
}

.flexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 997px) {
  .title {
    text-align: center;
    font-size: 10vh;
    font-family: 'heartbeat', Times, serif;
  }
  .score {
    font-size: 8vh;
  }
  .square {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 6vh;
  }
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
    font-size: 9vh;
    font-family: 'heartbeat', Times, serif;
  }
  .score {
    font-size: 7vh;
  }
  .square {
    width: 20vw;
    height: 20vw;
    line-height: 75px;
    font-size: 6vh;
  }
}

@media screen and (max-width: 366px) {
  .title {
    text-align: center;
    font-size: 9vh;
    font-family: 'heartbeat', Times, serif;
  }
  .score {
    font-size: 7vh;
  }
  .square {
    width: 18vw;
    height: 18vw;
    line-height: 18vh;
    font-size: 5vh;
  }
}
