body {
    left: 0;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    width: 100%;
}

.game {
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 8vh;
}

.square {
  width: 100px;
  height: 100px;
  margin: 2px;
  font-size: 6vh;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
}

.board-row {
  padding-right: 0px;
  padding-left: 0px;
}

.board {
  font-size: 0;
}

.score {
  font-size: 6vh;
  text-align: center
}

.flexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .square {
    width: 20vw;
    height: 20vw;
    line-height: 75px;
    font-size: 3vh;
  }
}